
<div class="container">
  <header style="text-align: center; margin-bottom: 20px;">
    <h1>🏢 Comunidad Desengaño 21</h1>
    <p><i>"Esta nuestra comunidad" - Pablo Rodriguez, Presidente de nuestra Comunidad.</i></p>
  </header>

  <div class="home-container">
    <img src="../assets/edificio.webp"
         class="edificio-img"
         alt="Desengaño 21">

    <nav class="nav-buttons">
      <button type="button" [routerLink]="['/vecinoList']" > 📋 Ver Vecinos (Radio Patio)</button>
      <button type="button" [routerLink]="['/junta']" >⚖️ Ir a la Junta </button>
    </nav>
  </div>

  <hr style="margin: 30px 0; border: 1px dashed #8b4513;">

  <main>
  </main>
</div>

<router-outlet></router-outlet>
