table{
  border-collapse: collapse;
  margin: auto;
  margin-top: 100px;
}

td,th{
  border: 1px solid black;
  padding: 10px;
}
td{
  background-color: white;
}
th{
  background-color: orange;
}

form{
  width: 400px;
  background-color: white;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
  div{
    margin: 10px;
  }
  input{
    width: 300px;
    border-radius:5px;
  }
  button{
    width: 400px;
    background-color: orange;
  }
}

h1{
  text-align: center;
}
